:root {
  /* Layout */
  --maxWidth: 1280px;
}

.root {
  max-width: var(--maxWidth);
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: fix;
}
.root:before,
.root:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.root:after {
    clear: both;
}


.medium {
  max-width: 960px;
}
.small {
  max-width: 800px;
}
.smallest {
  max-width: 580px;
}
.full {
  max-width: 100%;
}
