.heroTitle {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    animation: fadein 2s;
}
.heroDescription {
    font-size: 54px;
    line-height: 1.2;
    margin: 0;
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
