.root {
    position: relative;
}

.large {
  min-height: 640px;
}
.huge {
    min-height: 780px;
}
.full {
    height: 100vh;
}
.image {
  background-size: cover;
}
.primary {
    background-color: #eb3552;
}
